# Exploring, cleaning and enriching datas

# 1. Exploring

In [46]:
import numpy as np
import pandas as pd
import src.clean_utils as cu
import requests
from bs4 import BeautifulSoup

In [2]:
# Importing Data, we know thw topic but. What tipe of datas do we have?
Abb_NY = pd.read_csv("data/AB_NYC_2019.csv",encoding = "ISO-8859-1")

In [3]:
Abb_NY.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
#We can se than we have a very bit Dataset but, would it be too dirty?
Abb_NY.shape

(48895, 16)

In [5]:
Abb_NY.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [6]:
# It seems I found a very clean data set. Where only 2 columns  have over 20% of nulls datas but they don`t affect to our study.
perc_null_col = Abb_NY.isnull().sum().apply(lambda x: x/Abb_NY.shape[0]).sort_values(ascending=False)
perc_null_col

reviews_per_month                 0.205583
last_review                       0.205583
host_name                         0.000429
name                              0.000327
availability_365                  0.000000
calculated_host_listings_count    0.000000
number_of_reviews                 0.000000
minimum_nights                    0.000000
price                             0.000000
room_type                         0.000000
longitude                         0.000000
latitude                          0.000000
neighbourhood                     0.000000
neighbourhood_group               0.000000
host_id                           0.000000
id                                0.000000
dtype: float64

In [7]:
# And what about our rows? there are a few with missing datas, but as we saw this datas are fron review column and do not affect us.
perc_null_row=Abb_NY.isnull().sum(axis=1).apply(lambda x: x/Abb_NY.shape[1]).sort_values(ascending=False)
perc_null_row

16071    0.1875
27777    0.1875
38992    0.1875
6605     0.1875
2854     0.1875
          ...
29611    0.0000
29610    0.0000
29608    0.0000
29607    0.0000
0        0.0000
Length: 48895, dtype: float64

In [8]:
# There are not duplicate visits:
Abb_NY.duplicated().sum()

0

In [9]:
# It looks like we have both numerical and categorical data
Abb_NY_dtype=Abb_NY.dtypes
Abb_NY_dtype

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

After this review and exploring of data, we can conclude we have a very good dataframe, with clean data, quantity to be analyze and some columns we can drop and will  not affect our conclusions.

# 2. Cleaning de Data

In [10]:
# We remenber the columns we have in order to drop those we dont need
Abb_NY.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [11]:
drop_cols = ["id","name","host_id","host_name","latitude", "longitude","reviews_per_month","calculated_host_listings_count","availability_365"]
Abb_NY_clean = Abb_NY.drop(drop_cols, axis =1)
Abb_NY_clean

,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review
0,Brooklyn,Kensington,Private room,149,1,9,2018-10-19
1,Manhattan,Midtown,Entire home/apt,225,1,45,2019-05-21
2,Manhattan,Harlem,Private room,150,3,0,NaN
3,Brooklyn,Clinton Hill,Entire home/apt,89,1,270,2019-07-05
4,Manhattan,East Harlem,Entire home/apt,80,10,9,2018-11-19
...,...,...,...,...,...,...,...
48890,Brooklyn,Bedford-Stuyvesant,Private room,70,2,0,NaN
48891,Brooklyn,Bushwick,Private room,40,4,0,NaN
48892,Manhattan,Harlem,Entire home/apt,115,10,0,NaN
48893,Manhattan,Hell's Kitchen,Shared room,55,1,0,NaN
48894,Manhattan,Hell's Kitchen,Private room,90,7,0,NaN

In [12]:
Abb_NY_clean["last_review"].value_counts(dropna=False)

NaN           10052
2019-06-23     1413
2019-07-01     1359
2019-06-30     1341
2019-06-24      875
              ...
2016-03-07        1
2014-08-24        1
2015-05-03        1
2016-02-10        1
2015-02-05        1
Name: last_review, Length: 1765, dtype: int64

In [13]:
Abb_NY_clean["year"] = Abb_NY_clean.last_review.dropna().apply(cu.extract_year)

In [14]:
Abb_NY_clean.head()

,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,year
0,Brooklyn,Kensington,Private room,149,1,9,2018-10-19,2018.0
1,Manhattan,Midtown,Entire home/apt,225,1,45,2019-05-21,2019.0
2,Manhattan,Harlem,Private room,150,3,0,NaN,NaN
3,Brooklyn,Clinton Hill,Entire home/apt,89,1,270,2019-07-05,2019.0
4,Manhattan,East Harlem,Entire home/apt,80,10,9,2018-11-19,2018.0

In [15]:
Abb_NY_clean["year"].value_counts(dropna=False)

2019.0    25209
NaN       10052
2018.0     6050
2017.0     3205
2016.0     2707
2015.0     1393
2014.0      199
2013.0       48
2012.0       25
2011.0        7
Name: year, dtype: int64

In [16]:
drop_cols = ["last_review"]
Abb_NY_clean = Abb_NY_clean.drop(drop_cols, axis =1)
Abb_NY_clean

,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,year
0,Brooklyn,Kensington,Private room,149,1,9,2018.0
1,Manhattan,Midtown,Entire home/apt,225,1,45,2019.0
2,Manhattan,Harlem,Private room,150,3,0,NaN
3,Brooklyn,Clinton Hill,Entire home/apt,89,1,270,2019.0
4,Manhattan,East Harlem,Entire home/apt,80,10,9,2018.0
...,...,...,...,...,...,...,...
48890,Brooklyn,Bedford-Stuyvesant,Private room,70,2,0,NaN
48891,Brooklyn,Bushwick,Private room,40,4,0,NaN
48892,Manhattan,Harlem,Entire home/apt,115,10,0,NaN
48893,Manhattan,Hell's Kitchen,Shared room,55,1,0,NaN
48894,Manhattan,Hell's Kitchen,Private room,90,7,0,NaN

In [17]:
Abb_NY_clean["year"] = Abb_NY_clean[Abb_NY_clean["year"]>2015]["year"]
Abb_NY_clean

,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,year
0,Brooklyn,Kensington,Private room,149,1,9,2018.0
1,Manhattan,Midtown,Entire home/apt,225,1,45,2019.0
2,Manhattan,Harlem,Private room,150,3,0,NaN
3,Brooklyn,Clinton Hill,Entire home/apt,89,1,270,2019.0
4,Manhattan,East Harlem,Entire home/apt,80,10,9,2018.0
...,...,...,...,...,...,...,...
48890,Brooklyn,Bedford-Stuyvesant,Private room,70,2,0,NaN
48891,Brooklyn,Bushwick,Private room,40,4,0,NaN
48892,Manhattan,Harlem,Entire home/apt,115,10,0,NaN
48893,Manhattan,Hell's Kitchen,Shared room,55,1,0,NaN
48894,Manhattan,Hell's Kitchen,Private room,90,7,0,NaN

In [18]:
Abb_NY_clean = Abb_NY_clean[Abb_NY_clean["year"].notnull()]
Abb_NY_clean

,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,year
0,Brooklyn,Kensington,Private room,149,1,9,2018.0
1,Manhattan,Midtown,Entire home/apt,225,1,45,2019.0
3,Brooklyn,Clinton Hill,Entire home/apt,89,1,270,2019.0
4,Manhattan,East Harlem,Entire home/apt,80,10,9,2018.0
5,Manhattan,Murray Hill,Entire home/apt,200,3,74,2019.0
...,...,...,...,...,...,...,...
48782,Manhattan,Upper East Side,Private room,129,1,1,2019.0
48790,Queens,Flushing,Private room,45,1,1,2019.0
48799,Staten Island,Great Kills,Private room,235,1,1,2019.0
48805,Bronx,Mott Haven,Entire home/apt,100,1,2,2019.0
48852,Brooklyn,Bushwick,Private room,30,1,1,2019.0

In [19]:
Abb_NY_clean["year"].value_counts(dropna=False)

2019.0    25209
2018.0     6050
2017.0     3205
2016.0     2707
Name: year, dtype: int64

# 2. Enriching de Data

In [47]:
url_NYmonuments = "https://en.wikipedia.org/wiki/List_of_buildings,_sites,_and_monuments_in_New_York_City"

In [48]:
response = requests.get(url_NYmonuments)

In [49]:
response

In [50]:
soup = BeautifulSoup(response.content)

In [51]:
NYmonuments_tags = soup.find_all(
    name="div", 
    class_="div-col"
)

In [52]:
len(NYmonuments_tags)

3

In [53]:
NYmonuments_tags[0]

<div class="div-col" style="column-width: 30em;">
<ul><li><a href="/wiki/American_Museum_of_Natural_History" title="American Museum of Natural History">American Museum of Natural History</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)
<ul><li><a href="/wiki/Rose_Center_for_Earth_and_Space" title="Rose Center for Earth and Space">Rose Center for Earth and Space</a></li></ul></li>
<li><a href="/wiki/America%27s_Response_Monument" title="America's Response Monument">America's Response Monument</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Apollo_Theater" title="Apollo Theater">Apollo Theater</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a class="mw-redirect" href="/wiki/Bank_of_America_Tower_(New_York_City)" title="Bank of America Tower (New York City)">Bank of America Tower</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a class="mw-redirect" href="/wiki/Battery_Park" title="Battery Park">Battery Park</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)
<ul><li><a href="/wiki/Castle_Clinton" title="Castle Clinton">Castle Clinton</a></li>
<li><a class="mw-redirect" href="/wiki/East_Coast_Memorial" title="East Coast Memorial">East Coast Memorial</a></li>
<li><a href="/wiki/The_Sphere" title="The Sphere">The Sphere</a></li></ul></li>
<li><a href="/wiki/Battery_Park_City_Ferry_Terminal" title="Battery Park City Ferry Terminal">Battery Park City Ferry Terminal</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Brill_Building" title="Brill Building">Brill Building</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Bronx_Zoo" title="Bronx Zoo">Bronx Zoo</a> (<a class="mw-redirect" href="/wiki/Bronx" title="Bronx">Bronx</a>)</li>
<li><a href="/wiki/Brooklyn_Botanic_Garden" title="Brooklyn Botanic Garden">Brooklyn Botanic Garden</a> (<a href="/wiki/Brooklyn" title="Brooklyn">Brooklyn</a>)</li>
<li><a href="/wiki/Brooklyn_Bridge" title="Brooklyn Bridge">Brooklyn Bridge</a> (connects <a href="/wiki/Brooklyn" title="Brooklyn">Brooklyn</a> and <a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Brooklyn_Museum" title="Brooklyn Museum">Brooklyn Museum</a> (<a href="/wiki/Brooklyn" title="Brooklyn">Brooklyn</a>)</li>
<li><a href="/wiki/Brooklyn_Public_Library" title="Brooklyn Public Library">Brooklyn Public Library</a> (<a href="/wiki/Brooklyn" title="Brooklyn">Brooklyn</a>)</li>
<li><a href="/wiki/Bryant_Park" title="Bryant Park">Bryant Park</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Carnegie_Hall" title="Carnegie Hall">Carnegie Hall</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Cathedral_of_St._John_the_Divine" title="Cathedral of St. John the Divine">Cathedral of St. John the Divine</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Central_Park" title="Central Park">Central Park</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)
<ul><li><a href="/wiki/Central_Park_Zoo" title="Central Park Zoo">Central Park Zoo</a></li>
<li><a href="/wiki/Strawberry_Fields_(memorial)" title="Strawberry Fields (memorial)">Strawberry Fields</a></li></ul></li>
<li><a href="/wiki/Chelsea_Piers" title="Chelsea Piers">Chelsea Piers</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Chrysler_Building" title="Chrysler Building">Chrysler Building</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Citi_Field" title="Citi Field">Citi Field</a> (<a href="/wiki/Queens" title="Queens">Queens</a>)</li>
<li><a class="mw-redirect" href="/wiki/Cleopatra%27s_Needle_(New_York)" title="Cleopatra's Needle (New York)">Cleopatra's Needle</a></li>
<li><a href="/wiki/College_Point_Little_League_Building" title="College Point Little League Building">College Point Little League Building</a> (<a href="/wiki/Queens" title="Queens">Queens</a>)</li>
<li><a href="/wiki/Columbia_University" title="Columbia University">Columbia University</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Columbus_Circle" title="Columbus Circle">Columbus Circle</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Downtown_Athletic_Club" title="Downtown Athletic Club">Downtown Athletic Club</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/East_River_Park" title="East River Park">East River Park</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/East_River_State_Park" title="East River State Park">East River State Park</a> (<a href="/wiki/Brooklyn" title="Brooklyn">Brooklyn</a>)</li>
<li><a href="/wiki/Eleanor_Roosevelt_Monument" title="Eleanor Roosevelt Monument">Eleanor Roosevelt Monument</a></li>
<li><a href="/wiki/Empire_State_Building" title="Empire State Building">Empire State Building</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a class="mw-redirect" href="/wiki/Federal_Hall_National_Memorial" title="Federal Hall National Memorial">Federal Hall National Memorial</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Firemen%27s_Memorial_(Manhattan)" title="Firemen's Memorial (Manhattan)">Firemen's Memorial</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Flatiron_Building" title="Flatiron Building">Flatiron Building</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a class="mw-redirect" href="/wiki/Flushing_Meadows-Corona_Park" title="Flushing Meadows-Corona Park">Flushing Meadows-Corona Park</a> (<a href="/wiki/Queens" title="Queens">Queens</a>)</li>
<li><a href="/wiki/Fordham_University" title="Fordham University">Fordham University</a> (<a class="mw-redirect" href="/wiki/Bronx" title="Bronx">Bronx</a>)</li>
<li><a href="/wiki/George_Gustav_Heye_Center" title="George Gustav Heye Center">George Gustav Heye Center</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/George_Washington_Bridge" title="George Washington Bridge">George Washington Bridge</a> (connects <a href="/wiki/Manhattan" title="Manhattan">Manhattan</a> and <a href="/wiki/New_Jersey" title="New Jersey">New Jersey</a>)</li>
<li><a href="/wiki/Gracie_Mansion" title="Gracie Mansion">Gracie Mansion</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Grand_Army_Plaza" title="Grand Army Plaza">Grand Army Plaza</a> (<a href="/wiki/Brooklyn" title="Brooklyn">Brooklyn</a>)</li>
<li><a href="/wiki/Grand_Central_Terminal" title="Grand Central Terminal">Grand Central Terminal</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a class="mw-redirect" href="/wiki/General_Grant_National_Memorial" title="General Grant National Memorial">General Grant National Memorial</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Green-Wood_Cemetery" title="Green-Wood Cemetery">Green-Wood Cemetery</a> (<a href="/wiki/Brooklyn" title="Brooklyn">Brooklyn</a>)</li>
<li><a href="/wiki/Hall_of_Fame_for_Great_Americans" title="Hall of Fame for Great Americans">Hall of Fame for Great Americans</a> (<a class="mw-redirect" href="/wiki/Bronx" title="Bronx">Bronx</a>)</li>
<li><a href="/wiki/Harvard_Club_of_New_York" title="Harvard Club of New York">Harvard Club of New York</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Historic_Richmond_Town" title="Historic Richmond Town">Historic Richmond Town</a> (<a href="/wiki/Staten_Island" title="Staten Island">Staten Island</a>)</li>
<li><a href="/wiki/Holland_Tunnel" title="Holland Tunnel">Holland Tunnel</a> (connects <a href="/wiki/Manhattan" title="Manhattan">Manhattan</a> and <a href="/wiki/New_Jersey" title="New Jersey">New Jersey</a>)</li>
<li><a href="/wiki/Intrepid_Sea,_Air_%26_Space_Museum" title="Intrepid Sea, Air &amp; Space Museum">Intrepid Sea, Air &amp; Space Museum</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Irish_Hunger_Memorial" title="Irish Hunger Memorial">Irish Hunger Memorial</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a class="mw-redirect" href="/wiki/Lincoln_Center_for_the_Performing_Arts" title="Lincoln Center for the Performing Arts">Lincoln Center for the Performing Arts</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)
<ul><li><a class="mw-redirect" href="/wiki/Avery_Fisher_Hall" title="Avery Fisher Hall">Avery Fisher Hall</a></li>
<li><a href="/wiki/David_H._Koch_Theater" title="David H. Koch Theater">David H. Koch Theater</a> (formerly known as the New York State Theater)</li>
<li><a href="/wiki/Metropolitan_Opera" title="Metropolitan Opera">Metropolitan Opera</a></li></ul></li>
<li><a href="/wiki/Lincoln_Tunnel" title="Lincoln Tunnel">Lincoln Tunnel</a> (connects <a href="/wiki/Manhattan" title="Manhattan">Manhattan</a> and <a href="/wiki/New_Jersey" title="New Jersey">New Jersey</a>)</li>
<li><a href="/wiki/Lipstick_Building" title="Lipstick Building">Lipstick Building</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Macy%27s_Herald_Square" title="Macy's Herald Square">Macy's Herald Square</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Madison_Square_Garden" title="Madison Square Garden">Madison Square Garden</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Manhattan_Bridge" title="Manhattan Bridge">Manhattan Bridge</a> (connects <a href="/wiki/Manhattan" title="Manhattan">Manhattan</a> and <a href="/wiki/Brooklyn" title="Brooklyn">Brooklyn</a>)</li>
<li><a href="/wiki/Manhattan_Municipal_Building" title="Manhattan Municipal Building">Manhattan Municipal Building</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Metropolitan_Fireproof_Warehouse" title="Metropolitan Fireproof Warehouse">Metropolitan Fireproof Warehouse</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Metropolitan_Museum_of_Art" title="Metropolitan Museum of Art">Metropolitan Museum of Art</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/MetLife_Building" title="MetLife Building">MetLife Building</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Museum_of_Modern_Art" title="Museum of Modern Art">Museum of Modern Art</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/National_September_11_Memorial_%26_Museum" title="National September 11 Memorial &amp; Museum">National September 11 Memorial &amp; Museum</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/New_York_City_Hall" title="New York City Hall">New York City Hall</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/New_York_Botanical_Garden" title="New York Botanical Garden">New York Botanical Garden</a> (<a class="mw-redirect" href="/wiki/Bronx" title="Bronx">Bronx</a>)</li>
<li><a href="/wiki/New_York_Evening_Post_Building" title="New York Evening Post Building">New York Evening Post Building</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/New_York_Life_Building" title="New York Life Building">New York Life Building</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/New_York_Public_Library" title="New York Public Library">New York Public Library</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/New_York_Stock_Exchange" title="New York Stock Exchange">New York Stock Exchange</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Odd_Fellows_Hall_(New_York_City)" title="Odd Fellows Hall (New York City)">Odd Fellows Hall</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Paley_Center_for_Media" title="Paley Center for Media">Paley Center for Media</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Pelham_Bay_Park" title="Pelham Bay Park">Pelham Bay Park</a> (<a href="/wiki/The_Bronx" title="The Bronx">The Bronx</a>)</li>
<li><a href="/wiki/Pennsylvania_Station_(New_York_City)" title="Pennsylvania Station (New York City)">Pennsylvania Station</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Pier_11/Wall_Street" title="Pier 11/Wall Street">Pier 11/Wall Street</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Plaza_Hotel" title="Plaza Hotel">Plaza Hotel</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Prison_Ship_Martyrs%27_Monument" title="Prison Ship Martyrs' Monument">Prison Ship Martyrs' Monument</a>  (<a href="/wiki/Brooklyn" title="Brooklyn">Brooklyn</a>)</li>
<li><a href="/wiki/Prospect_Park_(Brooklyn)" title="Prospect Park (Brooklyn)">Prospect Park</a> (<a href="/wiki/Brooklyn" title="Brooklyn">Brooklyn</a>)
<ul><li><a href="/wiki/Prospect_Park_Zoo" title="Prospect Park Zoo">Prospect Park Zoo</a></li></ul></li>
<li><a class="mw-redirect" href="/wiki/Queens_Museum_of_Art" title="Queens Museum of Art">Queens Museum of Art</a> (<a href="/wiki/Queens" title="Queens">Queens</a>)</li>
<li><a href="/wiki/Racquet_and_Tennis_Club" title="Racquet and Tennis Club">Racquet and Tennis Club</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Rockefeller_Center" title="Rockefeller Center">Rockefeller Center</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Radio_City_Music_Hall" title="Radio City Music Hall">Radio City Music Hall</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a class="mw-redirect" href="/wiki/St._Patrick%27s_Cathedral_(New_York)" title="St. Patrick's Cathedral (New York)">St. Patrick's Cathedral</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Seagram_Building" title="Seagram Building">Seagram Building</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Shea_Stadium" title="Shea Stadium">Shea Stadium</a> (<a href="/wiki/Queens" title="Queens">Queens</a>; demolished 2009)</li>
<li><a href="/wiki/Silvercup_Studios" title="Silvercup Studios">Silvercup Studios</a> (<a href="/wiki/Queens" title="Queens">Queens</a>)</li>
<li><a href="/wiki/Solomon_R._Guggenheim_Museum" title="Solomon R. Guggenheim Museum">Solomon R. Guggenheim Museum</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Statue_of_Liberty" title="Statue of Liberty">Statue of Liberty</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Times_Square" title="Times Square">Times Square</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Trinity_Church_(Manhattan)" title="Trinity Church (Manhattan)">Trinity Church</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a class="mw-redirect" href="/wiki/United_Nations_Headquarters" title="United Nations Headquarters">United Nations Headquarters</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Vietnam_Veterans_Plaza" title="Vietnam Veterans Plaza">Vietnam Veterans Plaza</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a class="mw-redirect" href="/wiki/The_Waldorf-Astoria_Hotel" title="The Waldorf-Astoria Hotel">The Waldorf-Astoria Hotel</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a class="mw-redirect" href="/wiki/Washington_Square_Park,_New_York" title="Washington Square Park, New York">Washington Square Park</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)
<ul><li><a href="/wiki/Campus_of_New_York_University" title="Campus of New York University">New York University campus</a></li></ul></li>
<li><a href="/wiki/Williamsburg_Bridge" title="Williamsburg Bridge">Williamsburg Bridge</a> (connects <a href="/wiki/Manhattan" title="Manhattan">Manhattan</a> and <a href="/wiki/Brooklyn" title="Brooklyn">Brooklyn</a>)</li>
<li><a class="mw-redirect" href="/wiki/Woodlawn_Cemetery_(Bronx)" title="Woodlawn Cemetery (Bronx)">Woodlawn Cemetery</a> (<a class="mw-redirect" href="/wiki/Bronx" title="Bronx">Bronx</a>)</li>
<li><a href="/wiki/Woolworth_Building" title="Woolworth Building">Woolworth Building</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/World_Trade_Center_site" title="World Trade Center site">World Trade Center site</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Brookfield_Place_(New_York_City)" title="Brookfield Place (New York City)">World Financial Center</a> (<a href="/wiki/Manhattan" title="Manhattan">Manhattan</a>)</li>
<li><a href="/wiki/Yankee_Stadium" title="Yankee Stadium">Yankee Stadium</a> (<a class="mw-redirect" href="/wiki/Bronx" title="Bronx">Bronx</a>)</li></ul>
</div>

In [54]:
NYmonuments_tags_text = [monument.text for monument in NYmonuments_tags]
NYmonuments_tags_text

["\nAmerican Museum of Natural History (Manhattan)\nRose Center for Earth and Space\nAmerica's Response Monument (Manhattan)\nApollo Theater (Manhattan)\nBank of America Tower (Manhattan)\nBattery Park (Manhattan)\nCastle Clinton\nEast Coast Memorial\nThe Sphere\nBattery Park City Ferry Terminal (Manhattan)\nBrill Building (Manhattan)\nBronx Zoo (Bronx)\nBrooklyn Botanic Garden (Brooklyn)\nBrooklyn Bridge (connects Brooklyn and Manhattan)\nBrooklyn Museum (Brooklyn)\nBrooklyn Public Library (Brooklyn)\nBryant Park (Manhattan)\nCarnegie Hall (Manhattan)\nCathedral of St. John the Divine (Manhattan)\nCentral Park (Manhattan)\nCentral Park Zoo\nStrawberry Fields\nChelsea Piers (Manhattan)\nChrysler Building (Manhattan)\nCiti Field (Queens)\nCleopatra's Needle\nCollege Point Little League Building (Queens)\nColumbia University (Manhattan)\nColumbus Circle (Manhattan)\nDowntown Athletic Club (Manhattan)\nEast River Park (Manhattan)\nEast River State Park (Brooklyn)\nEleanor Roosevelt Monument\nEmpire State Building (Manhattan)\nFederal Hall National Memorial (Manhattan)\nFiremen's Memorial (Manhattan)\nFlatiron Building (Manhattan)\nFlushing Meadows-Corona Park (Queens)\nFordham University (Bronx)\nGeorge Gustav Heye Center (Manhattan)\nGeorge Washington Bridge (connects Manhattan and New Jersey)\nGracie Mansion (Manhattan)\nGrand Army Plaza (Brooklyn)\nGrand Central Terminal (Manhattan)\nGeneral Grant National Memorial (Manhattan)\nGreen-Wood Cemetery (Brooklyn)\nHall of Fame for Great Americans (Bronx)\nHarvard Club of New York (Manhattan)\nHistoric Richmond Town (Staten Island)\nHolland Tunnel (connects Manhattan and New Jersey)\nIntrepid Sea, Air & Space Museum (Manhattan)\nIrish Hunger Memorial (Manhattan)\nLincoln Center for the Performing Arts (Manhattan)\nAvery Fisher Hall\nDavid H. Koch Theater (formerly known as the New York State Theater)\nMetropolitan Opera\nLincoln Tunnel (connects Manhattan and New Jersey)\nLipstick Building (Manhattan)\nMacy's Herald Square (Manhattan)\nMadison Square Garden (Manhattan)\nManhattan Bridge (connects Manhattan and Brooklyn)\nManhattan Municipal Building (Manhattan)\nMetropolitan Fireproof Warehouse (Manhattan)\nMetropolitan Museum of Art (Manhattan)\nMetLife Building (Manhattan)\nMuseum of Modern Art (Manhattan)\nNational September 11 Memorial & Museum (Manhattan)\nNew York City Hall (Manhattan)\nNew York Botanical Garden (Bronx)\nNew York Evening Post Building (Manhattan)\nNew York Life Building (Manhattan)\nNew York Public Library (Manhattan)\nNew York Stock Exchange (Manhattan)\nOdd Fellows Hall (Manhattan)\nPaley Center for Media (Manhattan)\nPelham Bay Park (The Bronx)\nPennsylvania Station (Manhattan)\nPier 11/Wall Street (Manhattan)\nPlaza Hotel (Manhattan)\nPrison Ship Martyrs' Monument  (Brooklyn)\nProspect Park (Brooklyn)\nProspect Park Zoo\nQueens Museum of Art (Queens)\nRacquet and Tennis Club (Manhattan)\nRockefeller Center (Manhattan)\nRadio City Music Hall (Manhattan)\nSt. Patrick's Cathedral (Manhattan)\nSeagram Building (Manhattan)\nShea Stadium (Queens; demolished 2009)\nSilvercup Studios (Queens)\nSolomon R. Guggenheim Museum (Manhattan)\nStatue of Liberty (Manhattan)\nTimes Square (Manhattan)\nTrinity Church (Manhattan)\nUnited Nations Headquarters (Manhattan)\nVietnam Veterans Plaza (Manhattan)\nThe Waldorf-Astoria Hotel (Manhattan)\nWashington Square Park (Manhattan)\nNew York University campus\nWilliamsburg Bridge (connects Manhattan and Brooklyn)\nWoodlawn Cemetery (Bronx)\nWoolworth Building (Manhattan)\nWorld Trade Center site (Manhattan)\nWorld Financial Center (Manhattan)\nYankee Stadium (Bronx)\n",
 '\nOne World Trade Center \xa0–  541.32 metres (1,776.0 feet)\nEmpire State Building\xa0–  381.0 metres (1,250.0 feet)\nBank of America Tower\xa0–  366.0 metres (1,200.8 feet)\nChrysler Building\xa0–  318.8 metres (1,046 feet)\nAmerican International Building\xa0–  290.2 metres (952 feet)\n40 Wall Street\xa0–  282.5 metres (927 feet)\nCitigroup Center\xa0–  278.9 metres (915 feet)\nTrump World Tower\xa0–  262.4 metres (861 feet)\nBloomberg Tower\xa0–  260.8 metres (856 feet)\nGE Building\xa0–  259.1 metres (850 feet)\nCitySpire Center\xa0–  248.1 metres (814 feet)\nOne Chase Manhattan Plaza\xa0–  247.8 metres (813 feet)\nCondé Nast Building\xa0–  246.6 metres (809 feet)\nMetLife Building\xa0–  246.4 metres (808 feet)\nWoolworth Building\xa0–  241 metres (791 feet)\nOne Worldwide Plaza\xa0–  237 metres (778 feet)\nCarnegie Hall Tower\xa0–  231 metres (758 feet)\n383 Madison Avenue (formerly known as the Bear Stearns Building)\xa0–  231 metres (758 feet)\n',
 '\nGeography of New York Harbor\nList of National Historic Landmarks in New York City\nList of neighborhoods in New York City\nList of New York City Designated Landmarks\nNational Register of Historic Places listings in New York\nList of New York City parks\nList of nightclubs in New York City\n']

In [55]:
len(NYmonuments_tags_text)

3

In [56]:
NYmonuments_tags_text = NYmonuments_tags_text[0]

In [1]:
NYmonuments_tags_list=[]
for name in NYmonuments_tags_text:
    NYmonuments_tags_list.append(name.replace("\n",","))
NYmonuments_tags_list

NameError: name 'NYmonuments_tags_text' is not defined